/* Colors */
$gold: #cb9266;
$grey: #aeaeae;
$light-grey: #bebebe;
$dark-grey: #373737;
$light:#f7f7f7;

/* Font sizes */
$very-big-font-size:30px;
$big-font-size:24px;
$normal-font-size: 16px;
$medium-font-size: 14px;
$small-font-size: 12px;

/* Fonts */
$brand-font: 'Montserrat', sans-serif;
