@import '../../assets/sasss/variables';

.home {
    .page-item.active .page-link {
        background-color: $brand-color;
        border-color: $brand-color;
    }

    .page-link {
        color: $brand-color;

        &:hover {
            color: $dark-grey;
        }
    }

}