@import '../../assets/sasss/variables';

.cart {
    h4 {
        padding: 10px;
        color: $brand-color;
    }

    .summary {
        color: $brand-color;
        font-size: $big-font-size;
        font-weight: bold;
    }
}