@import '../../assets/sasss/variables';
@import '../../assets/sasss/components';

.user-account {
  h4 {
    padding: 10px;
    color: $brand-color;
  }

  span {
    color: $dark-grey;
    font-size: $big-font-size;
  }

  hr {
    width: 50%;
    border-top: 2px solid $grey;
  }
}
