.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  
    &--flex {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }