@import '../../../../assets/sasss/variables';

.product-list {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:link {
      text-decoration: none;
      color: inherit;
    }

    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:active {
      text-decoration: none;
      color: inherit;
    }
  }

  .card-body {
    .price {
      color: $brand-color;
      font-size: $big-font-size;
      font-weight: bold;
    }

    .btn-primary {
      background-color: $brand-color;
      border-color: $brand-color;
      z-index: 10;

      &:hover {
        color: $brand-color;
        background-color: #fff;
      }
    }
  }
}
